@import "lib/_variables.scss";
@import "lib/_reset.scss";
@import "lib/_animations.scss";

/****************************************
 **             BASELINE               **
 ****************************************/

body {
  font-family: $basefont;
  background: $black;
}

img {
  background: transparent url(../img/loader.gif) no-repeat center center;
  background-size: 60px 60px;
}

button, a {
  outline: none;
}

/****************************************
 **              OBJECTS               **
 ****************************************/

.o-photo-grid {
  display: flex;
  flex-wrap: wrap;
}

/****************************************
 **            COMPONENTS              **
 ****************************************/

.c-header {
  background: $headerbkg;
  color: $white;
  padding: 1em 1.5em;
  text-align: center;
}

.c-title {
  font-weight: normal;
  letter-spacing: .3em;
  margin: .4em 0;
  line-height: 100%;

  &__img {
    width: 1.5em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    margin-right: .25em;
    height: 1em;

    path {
      fill: #fff;
    }
  }

  &--heavy {
    font-weight: bold;
  }

  &--h1 { font-size: 1.5em; line-height: 100%; text-transform: uppercase; }
  &--h2 { font-size: 1.5em; line-height: 100%; }
  &--h3 {}
  &--h4 {}
  &--h5 {}
  &--h6 {}
}

.c-preview {
  flex-grow: 1;
  background: $black;
  overflow: hidden;
  position: relative;
  flex-basis: 100%;

  &::after {
    width: 40px;
    height: 40px;
    border: 2px solid $white;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    content: "";
    text-align: center;
    color: $white;
    font-size: 2em;
    line-height: 40px;
    opacity: 0;
    background: rgba(0,0,0,.5) url(../img/plus.svg) no-repeat center center;
    background-size: 16px 16px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    transform: scale(.7, .7);
    transition: all .3s ease-out;
  }

  &__img {
    display: block;
    width: 33.3333333vw;
    object-fit: cover;
    height: 33.3333333vw;
    transition: all .3s ease-out;
    transform: scale(1, 1);
  }

  &:hover &__img {
    opacity: .4;
    transform: scale(1.1, 1.1);
  }

  &:hover {
    &::after {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
}

@media all and (min-width:480px) {
  .c-preview {
    flex-basis: 33%;
  }
}

.c-details {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8) url(../img/loader.gif) no-repeat center center;
  background-size: 60px 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    background: none;
  }
}


.c-btn {
  &--close {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    background: transparent;
    border: 0;
    text-indent: -9999em;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    border-radius: 40px;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 25px;
      background: $white;
      position: absolute;
      left: 18px;
      top: 8px;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &--prev,
  &--next {
    position: absolute;
    left: 0;
    top: 50%;
    text-indent: -9999em;
    background: transparent;
    border: 0;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,.5);
    display: block;
    z-index: 1000;
    margin-top: -30px;
    transition: all .2s ease-out;
    cursor: pointer;

    &:hover {
      width: 70px;
      background: rgba(0,0,0,1);
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 25px;
      background: $white;
      position: absolute;
      left: auto;
      right: 40px;
      top: 30px;
      transform: rotate(-135deg);
      transform-origin: 1px 0;
    }

    &::after {
      transform: rotate(-45deg);
      transform-origin: 0 0;
    }
  }

  &--next {
    left: auto;
    right: 0;

    &::before,
    &::after {
      left: 38px;
    }

    &::before {
      transform: rotate(-225deg);
      transform-origin: 1px 0;
    }

    &::after {
      transform: rotate(45deg);
      transform-origin: 100% 0;
    }
  }
}

/****************************************
 **             UTILITIES              **
 ****************************************/

.u-invisible {
  visibility: hidden;
}

.u-objectfit-fix {
  background-size: cover;
  background-position: center;
}


/****************************************
 **            ANIMATIONS              **
 ****************************************/

.a-fadein {
  animation: fadeIn .5s ease-out 0s 1;
}

.a-fadeindown {
  animation: fadeInDown .5s ease-out 0s 1;
}

.a-fadeinright {
  animation: fadeInRight .5s ease-out 0s 1;
}

.a-fadeinleft {
  animation: fadeInLeft .5s ease-out 0s 1;
}

.a-fadeout {
  animation: fadeOut .5s ease-out 0s 1;
}

.a-fadeoutleft {
  animation: fadeOutLeft .5s ease-out 0s 1;
}

.a-fadeoutright {
  animation: fadeOutRight .5s ease-out 0s 1;
}
